<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for booking a flight, <%= @passenger.name %>!</h1>
    <p>
      You have successfully booked a trip with MyCoolTix.com,
      to view your booking please visit <a href=<%= booking_url(@passenger.booking, host: 'localhost:3000') %> >this link</a>.<br>
    </p>
    <p>Thanks for booking with MyCoolTix.com, and have a great day!</p>
  </body>
</html>