<div id="search_results">
  <br><br>
  <%= form_with url: '/flights', method: :get  do |f| %>
    <% if @search_results %>
      <h4>Results:</h4>
      <%# <%= f.label :selected_flight, hidden: true %> %>
      <%= f.collection_radio_buttons(:flight_id, @search_results, :id, :search_results_display) do |r| %>
        <%= r.label  { r.radio_button + r.text } %> <br>
      <% end %>
    <% else %>
      <p>'Select search parameters'</p>
    <% end %>
  <% end %>
</div>