<% if notice %>
  <p class="alert alert-success"><%= notice %>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %>
 <% end %>

<h1>Flights#index</h1>
<p>Find me in app/views/flights/index.html.erb</p>
